<h1>商品登録画面</h1>
<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  <%= f.file_field :item_image, accept: "image/*" %><br>
  <%= f.label :name, "商品名" %>
  <%= f.text_field :name %><br>
  <%= f.label :description, "商品説明" %>
  <%= f.text_area :description %><br>
  <%= f.label "ジャンル" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %><br>
  <%= f.label :price, "値段" %>
  <%= f.text_field :price %><br>
  <%= f.submit '保存する' %>
<% end %>