<h1>商品詳細画面</h1>
<p>商品画像</p>
<%= image_tag @item.item_image, size: "200x200" %>
<p>商品名</p>
<%= @item.name %>
<p>商品説明</p>
<%= @item.description %>
<p>値段(税抜き)</p>
<%= @item.price %><br>
<%= link_to '編集', edit_admin_item_path(@item.id) %><br>
<%= link_to '商品一覧に戻る', admin_items_path %>