<h1>登録住所編集画面</h1>
<%= form_with model: @shipping_address do |f| %>
  <%= f.label :zip_code, "郵便番号" %>
  <%= f.text_field :zip_code %><br>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %><br>
  <%= f.label :name, "宛先" %>
  <%= f.text_field :name %><br>
  <%= f.submit '編集を保存する', class: "btn btn-success" %>
<% end %>