<h1>注文履歴一覧</h1>
<% @orders.each do |order| %>
  <%= order.created_at.to_s(:datetime_jp) %><br>
  <% order.ordered_items.each do |ordered_item| %>
    <%= ordered_item.item.name %><br>
  <% end %>
  <%= order.zip_code %>
  <%= order.address %>
  <%= order.name %><br>
  <%= link_to '詳細', order_path(order.id), class: "btn btn-success" %><br>
<% end %>